h1 Create New Player
form(action="/player/create" method="POST")
  table
    tr
      td name
      td
        input(type="text" name="name" value="")
    tr
      td email
      td
        input(type="text" name="email" value="")
    tr
      td
      td
        input(type="submit" value="Submit")